*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}


/* Hero Section */

.hero-section{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px 10px;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.hero-section .nav div:nth-child(1){
    font-size: 22px;
    color: #f9faf8;
}
.hero-section .nav div:nth-child(2) > a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0 0 0 60px;
}

.main-page{
    display: flex;
    width: 70vw;
    justify-content: space-between;
    padding-bottom: 50px;
}
.main-page div:nth-child(1) {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main-page div:nth-child(1) > h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 20vw;
}
.main-page div:nth-child(1) > p{
    font-size: 18px;
    color: #e5e7eb;
    line-height: 23px;
}

.main-page img{
    width: 50%;
    height: 270px;
    object-fit: cover;
    background-position: center;
    border-radius: 20px;

}

.main-page div:nth-child(1) > button{
    background-color: #3882f6;
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 16px;
    width: 120px;
    cursor: pointer;
}

/* feature tab starts here */
.feature-section{
    width: 70vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.feature-section h2{
    color: #1f2937;
    font-weight: 1000;
    font-size: 36px;
}
.tab{
    width: 160px;
    height: 150px;
    border: 3px #3882f6 solid;
    border-radius: 10px;
}

.feature-tab{
    display: flex;
    gap: 180px;
}


.feature-tab p{
    margin-top: 10px;
    color: #1f2937;
    font-size: 18px;
    width: 170px;
    text-align: center;
}

/* features section ends here */

.quote-section{
    height: 350px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    width: 50vw;
}
.quote p{
    font-size: 32px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote h2{
    padding-left: 640px;
}

/* Quote scetion ends here */

.signup-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup{
    width: 60vw;
    background-color: #3882f6;
    height: 150px;
    display: flex;
    justify-content:space-between;
    padding: 0 150px;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
}
.signup p{
    font-size: 15px;
}
.signup button{
    padding: 7px 26px;
    background-color: #3882f6;
    color: #fff;
    border: 2px #fff solid;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

/* Signup Section ends here */

.footer{
    background-color: #1F2937;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}